provisionDataStore:
  cassandra: false
  elasticsearch: false
  kafka: false

storage:
  type: "cassandra"
  cassandra:
    host: cassandra-headless.obs-storage.svc.cluster.local
    port: 9042
    user: {{ .Values.cassandra_user }}
    password: {{ .Values.cassandra_password }}

collector:
  service:
    otlp:
      grpc:
        name: otlp-grpc
        port: 4317
      http:
        name: otlp-http
        port: 4318

agent:
  enabled: false
