auth:
  rootUser: {{ .Values.minio_root_user | default "admin" }}
  rootPassword: {{ .Values.minio_root_password }}

service:
  type: LoadBalancer
  externalTrafficPolicy: Local
  loadBalancerIP: "127.0.01"
