alertmanager:
  enabled: false

ruler:
  enabled: false

overrides_exporter:
  enabled: false

query_scheduler:
  enabled: false

config:
  blocks_storage:
    backend: s3
    s3:
      endpoint: minio.obs-storage.svc.cluster.local:9000
      region: local
      bucket_name: cortex
      access_key_id: {{ .Values.cortex_s3_client_id }}
      secret_access_key: {{ .Values.cortex_s3_client_secret }}
      insecure: true

